<div ng-app="app">

  <div ng-controller="questionsCtrl" ng-init="setup(<%= params[:scholarship_id] %>)">
    <div>
      <div ng-repeat="question in scholarship.questions">
        <p>{{question.title}}</p>
        <div>
          <input ng-model="question.titleUpdate">
          <button ng-click="updateQuestion(question, $index)" >Update Question</button>
        </div>
        <button ng-click="deleteQuestion(question, $index)">Delete</button>
      </div>
        
      <div>
        Title: <input ng-model="questionTitle">
        <button ng-click="addQuestion(questionTitle)">Add Question</button>
      </div>
    </div>
  </div>
</div>