<h1>Add Question</h1>
<ul>
<% if @question.errors.any? %>
   <% @question.errors.full_messages.each do |message| %>
     <li class="model-errors"><%= message %></li> 
   <% end %>
<% end %>
</ul>
<%= form_tag '/questions', method: :post do  %>
  <div>
    Title:
    <input type="text" name="title">
  </div>
  <div class="form-group">
    Application: 
     <select name="application_id">
          <option value="" disabled selected>Select your option</option>
          <% @applications.each do |application| %>
            <option value="<%= application.id %>">
            <%= application.title %></option>
          <% end %>     
      </select>     
    </div>
  <input type="submit" value="Submit">
<% end %>