<table>
  <tr>
    <th>Creature</th>
    <th>Last Name</th>
  </tr>
  <% @teams.each do |team_hash|%>
    <tr>
        <td><%= team_hash.creature%></td> 
        <td><%= team_hash.name%></td> 
    </tr>
  <% end %>
</table> 