<div class="container w3-margin-top"> 
 <table class="table table-bordered table table-hover w3-margin-top">
        <tr>
          <th>Application title</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      <% @applications.each do |application| %>
        <tr>
          <td><%= link_to application.scholarship.title, "/applications/#{application.id}" %></td>
          <td><%= application.completed%></td>
          <td><%= link_to "Remove", "/applications/#{application.id}", method: :delete %></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>

     
